
.sfce2jydsp2q9sra3yt7m3zk7q4hue5bguh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles for website counter container */
.sfce2jydsp2q9sra3yt7m3zk7q4hue5bguh {
  background-color: #ff4957;
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
